.heading {

    background-color: blue;
    text-align: center;
    color: snow;
    font-style: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 40px;
}

nav{

   background-color: black;
   text-align: center;
   padding: 20px;
}
   
#home{
padding: 25px;
color: rgb(255, 255, 255);


}
#about{
padding: 30px;
color: rgb(255, 255, 255);
}

#projects{
padding: 30px;
color: rgb(255, 255, 255);
}
#contact{
padding: 30px;
color: rgb(255, 255, 255);

}
.footer{
    text-align: center; 
    background-color: blue; 
    padding: 5px;
    color: white;
}

